[submodule "third_party/Pangolin"]
	path = third_party/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "third_party/ORB_SLAM3"]
	path = third_party/ORB_SLAM3
	url = https://github.com/UZ-SLAMLab/ORB_SLAM3.git
	branch = master
